@font-face {
  font-family: 'Mont_';
  src: url('./assets/webFonts/Mont_.ttf') format('truetype');
}
@font-face {
  font-family: 'Typewriter';
  src: url('./assets/webFonts/Typewriter.ttf') format('truetype');
}
@font-face {
  font-family: 'Recursive';
  src: url('./assets/webFonts/Recursive.ttf') format('truetype');
}

body {
  background-color: #D8D5D2;
}



