@font-face {
  font-family: 'Momt_';
  src: url('/assets/webFonts/Momt_.ttf') format('truetype');
}
@font-face {
  font-family: 'JMH Typewriter';
  src: url('/assets/webFonts/JMH Typewriter.ttf') format('truetype');
}
@font-face {
  font-family: 'Recursive';
  src: url('/assets/webfonts/Recursive.ttf') format('truetype');
}

body {
  background-color: red;
}