.info-container {
    font-family: 'Typewriter';
    padding: 5px 20px 0 20px;
}

.info-card {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #ab9b9b7d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-card .card-body {
    border-radius: 10px;
}

.textInfo {
    font-size: 16px;
    line-height: 1.6;
}

.table {
    color: #333;
    border-radius: 10px; 
    overflow: hidden;
    border: 1px solid #d834348b;
}

.table th, .table td {
    padding: 10px;
    border-top: none;
    background-color: #d834345a;
}

.info-series {
    font-size: 12px;
}

.accordion-button {
    background-color: #bf654599;
    color: #333;
    border: 1px solid #bf654599;
    border-radius: 5px;
    margin-bottom: 5px;
    
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #bf6545e8;
    color: white;
    padding: 10px;
}

.accordion-body {
    border-radius: 5px;
    padding: 10px;
}

.accordion-button::after {
    filter: invert(1);
}

.accordion-header {
    margin-bottom: 5px;
}

.accordion-item {
    border: none;
}

.btn-primary {
    background-color: #bf6545e8;
    border-color: #bf6545e8;
    font-size: 14px;
}

.btn-primary:hover {
    background-color: #904d3599;
    border-color: #904d3599;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #753f2b !important;
    border-color: #753f2b !important;
    box-shadow: none !important;
}

.info-card img {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.554);
}
