.musica-container {
    margin-top: 20px;
    font-family: 'Typewriter';
}

.musica-card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ab9b9b7d;
}

.musica-title {
    font-size: 2rem;
    font-weight: bold;
}

.musica-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.musica-text {
    font-size: 1rem;
}

.musica-list {
    padding-left: 0;
}

.imagenMusica {
    margin-top: 0px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.554);
}
.musica-list-item {
    padding: 10px 15px;
    border: 1px solid #202f3570;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #40606b70;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.musica-button {
    margin-left: 10px;
}
