.personajes-container {
    margin-top: 20px;
    font-family: 'Typewriter';
  }
  
  .personaje-card {
    border: 1px solid #dee2e6; 
    background-color: #ab9b9b7d;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
  }
  
  .personaje-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .personaje-img-container {
    position: relative;
  }
  
  .personaje-img {
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
    height: 200px; 
    object-fit: cover; 
  }
  
  .personaje-img-hover {
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
    height: 200px; 
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .personaje-img-container:hover .personaje-img-hover {
    opacity: 1;
  }
  
  .personaje-card .card-body {
    padding: 20px; 
  }
  
  .personaje-title {
    font-size: 1.25rem; 
    font-weight: bold; 
    margin-bottom: 10px; 
  }
  
  .personaje-description {
    font-size: 13px; 
    color: #495057; 
  }
  
  @media (max-width: 576px) {
    .personaje-card {
      margin: 10px 0; 
    }
  }
  